@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: $background-gradient;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

// .bg-primary {
// 	background: url('/images/blue-bg-graphic.jpg');
// }

.border-container {
	border: 1px solid #000;
}