@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.scss';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: $font-primary;
}


#root {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

// light mode classes

.light-mode-bg-gradient {
	background: $light-mode-background-gradient;
}

.light-mode-bg-primary {
	background-color: $light-mode-background-primary;
	color: $light-mode-color-primary;
}

.light-mode-bg-secondary {
	background: $light-mode-color-primary;
	color: $light-mode-color-secondary;
	&:hover {
		background-color: $light-mode-background-primary;
		color: $light-mode-color-primary;
	}
}


.light-mode-border-container {
	border: 1px solid $light-mode-color-primary;
}

.light-mode-border-color-secondary {
	border-color: $light-mode-color-primary;
}

//dark mode classes

.dark-mode-bg-gradient {
	background: $dark-mode-background-gradient;
}

.dark-mode-bg-primary {
	background-color: $dark-mode-background-primary;
	color: $dark-mode-color-primary;
}

.dark-mode-bg-secondary {
	background: $dark-mode-color-primary;
	color: $dark-mode-color-secondary;
	&:hover {
		background-color: $dark-mode-background-primary;
		color: $dark-mode-color-primary;
	}
}

.dark-mode-border-container {
	border: 1px solid $dark-mode-color-primary;
}

.dark-mode-border-color-secondary {
	border-color: $dark-mode-color-primary;
}


//animations 

@keyframes flip {
	0% {
		transform: rotateY(0deg);
	}

	100% {
		transform: rotateY(360deg);
	}
}

.pokeball-animation {
	animation: flip 0.5s ease-out;
}

