$font-primary: 'Edu TAS Beginner', cursive;

$color-primary: #00bbff;
$color-secondary: #FFDE00;

$background-primary:  #53a1f0;
$background-secondary: #abccec;

$background-gradient: linear-gradient(to right, $background-primary, $background-secondary);