$font-primary: 'Edu TAS Beginner', cursive;

$light-mode-color-primary: #fb0006;
$light-mode-color-secondary: #ffffff;

$light-mode-background-primary:  #fb0006;
$light-mode-background-secondary: #ec3c3f;

$light-mode-background-gradient: linear-gradient(to bottom, $light-mode-background-primary , $light-mode-background-secondary 30%);